table {
  width: 100%;
  border-collapse: collapse
}

th,
td {
  padding: 10px;
  text-align: left;
  border: solid 1px #ccc;
}

th {
  background-color: #000;
  color: #FFF;
}

tr:nth-child(odd) {
  background-color: #eee;
}

@media only screen and (max-width: 700px) {

  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    display: block;
  }

  .table-responsive thead {
    display: none;
  }

  .table-responsive td {
    padding-left: 150px;
    position: relative;
    margin-top: -1px;
    background: #FFF;
  }

  .table-responsive td:nth-child(odd) {
    background-color: #eee;
  }

  .table-responsive td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    bottom: 0;
    background-color: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .table-responsive tr {
    margin-bottom: 1rem;
  }

  .table-responsive th+td {
    padding-left: 10px;
  }

  .table-responsive th+td::before {
    display: none;
  }

}