/*! SASS #themes - DARK */

.dark body {
  background-color: #262D3D;
}

.dark .style-guide-header {
  border-bottom: 5px double #191b1a;
  background-color: #262D3D;
}

.dark {
  background: #262D3D;
  color: #E9E9E9;
}

.dark #burger span {
  background: #f8f8f8;

}

.dark .menu {
  background: #302f2f;
}

.dark .wrapper .item {
  background: #404041;
  color: #ffff;
}

.dark .modules {
  background: #262D3D;
}

.dark .divmodules {
  background: #262D3D;
  color: #E2E1E1;
}

.dark .title a {
  color: #E2E1E1;
  text-decoration: none;
}

.dark .title a:hover {
  color: #E2E1E1;
  font-weight: bold;

}

.dark .bordure {
  border: 2px solid #191b1a;
  background-color: #262D3D;
}

.dark .box {
  background: #404041;
}

.dark .box-header {
  border: none;
  color: #fff;
}