@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"; /*
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;500&display=swap');

*/
a {
  color: #212931;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

i.icones {
  font-family: fontawesome;
  font-style: initial;
}

/*
a.btn,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}
*/
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/**,
*::before,
*::after {
  box-sizing: border-box;
}
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*! SASS #base - TYPOGRAPHY */
h1,
.h1 {
  font-size: 3em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

h2,
.h2 {
  font-size: 2em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

h3,
.h3 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

/*
  .modules/_grid.scss
  Module de la grille
 */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem 1rem;
}
.grid.grid-noGap {
  gap: 0 0;
}
.grid > * {
  grid-column: span 12;
  grid-row: span 1;
}

@media screen and (min-width: 0) {
  .container-grid {
    width: 100%;
    max-width: 100%;
    margin: auto;
  }
  .col-xs-1 {
    grid-column: span 1;
  }
  .row-xs-1 {
    grid-row: span 1;
  }
  .col-xs-2 {
    grid-column: span 2;
  }
  .row-xs-2 {
    grid-row: span 2;
  }
  .col-xs-3 {
    grid-column: span 3;
  }
  .row-xs-3 {
    grid-row: span 3;
  }
  .col-xs-4 {
    grid-column: span 4;
  }
  .row-xs-4 {
    grid-row: span 4;
  }
  .col-xs-5 {
    grid-column: span 5;
  }
  .row-xs-5 {
    grid-row: span 5;
  }
  .col-xs-6 {
    grid-column: span 6;
  }
  .row-xs-6 {
    grid-row: span 6;
  }
  .col-xs-7 {
    grid-column: span 7;
  }
  .row-xs-7 {
    grid-row: span 7;
  }
  .col-xs-8 {
    grid-column: span 8;
  }
  .row-xs-8 {
    grid-row: span 8;
  }
  .col-xs-9 {
    grid-column: span 9;
  }
  .row-xs-9 {
    grid-row: span 9;
  }
  .col-xs-10 {
    grid-column: span 10;
  }
  .row-xs-10 {
    grid-row: span 10;
  }
  .col-xs-11 {
    grid-column: span 11;
  }
  .row-xs-11 {
    grid-row: span 11;
  }
  .col-xs-12 {
    grid-column: span 12;
  }
  .row-xs-12 {
    grid-row: span 12;
  }
}
@media screen and (min-width: 576px) {
  .container-grid {
    width: 100%;
    max-width: 95%;
    margin: auto;
  }
  .col-s-1 {
    grid-column: span 1;
  }
  .row-s-1 {
    grid-row: span 1;
  }
  .col-s-2 {
    grid-column: span 2;
  }
  .row-s-2 {
    grid-row: span 2;
  }
  .col-s-3 {
    grid-column: span 3;
  }
  .row-s-3 {
    grid-row: span 3;
  }
  .col-s-4 {
    grid-column: span 4;
  }
  .row-s-4 {
    grid-row: span 4;
  }
  .col-s-5 {
    grid-column: span 5;
  }
  .row-s-5 {
    grid-row: span 5;
  }
  .col-s-6 {
    grid-column: span 6;
  }
  .row-s-6 {
    grid-row: span 6;
  }
  .col-s-7 {
    grid-column: span 7;
  }
  .row-s-7 {
    grid-row: span 7;
  }
  .col-s-8 {
    grid-column: span 8;
  }
  .row-s-8 {
    grid-row: span 8;
  }
  .col-s-9 {
    grid-column: span 9;
  }
  .row-s-9 {
    grid-row: span 9;
  }
  .col-s-10 {
    grid-column: span 10;
  }
  .row-s-10 {
    grid-row: span 10;
  }
  .col-s-11 {
    grid-column: span 11;
  }
  .row-s-11 {
    grid-row: span 11;
  }
  .col-s-12 {
    grid-column: span 12;
  }
  .row-s-12 {
    grid-row: span 12;
  }
}
@media screen and (min-width: 768px) {
  .container-grid {
    width: 100%;
    max-width: 90%;
    margin: auto;
  }
  .col-m-1 {
    grid-column: span 1;
  }
  .row-m-1 {
    grid-row: span 1;
  }
  .col-m-2 {
    grid-column: span 2;
  }
  .row-m-2 {
    grid-row: span 2;
  }
  .col-m-3 {
    grid-column: span 3;
  }
  .row-m-3 {
    grid-row: span 3;
  }
  .col-m-4 {
    grid-column: span 4;
  }
  .row-m-4 {
    grid-row: span 4;
  }
  .col-m-5 {
    grid-column: span 5;
  }
  .row-m-5 {
    grid-row: span 5;
  }
  .col-m-6 {
    grid-column: span 6;
  }
  .row-m-6 {
    grid-row: span 6;
  }
  .col-m-7 {
    grid-column: span 7;
  }
  .row-m-7 {
    grid-row: span 7;
  }
  .col-m-8 {
    grid-column: span 8;
  }
  .row-m-8 {
    grid-row: span 8;
  }
  .col-m-9 {
    grid-column: span 9;
  }
  .row-m-9 {
    grid-row: span 9;
  }
  .col-m-10 {
    grid-column: span 10;
  }
  .row-m-10 {
    grid-row: span 10;
  }
  .col-m-11 {
    grid-column: span 11;
  }
  .row-m-11 {
    grid-row: span 11;
  }
  .col-m-12 {
    grid-column: span 12;
  }
  .row-m-12 {
    grid-row: span 12;
  }
}
@media screen and (min-width: 992px) {
  .container-grid {
    width: 100%;
    max-width: 85%;
    margin: auto;
  }
  .col-l-1 {
    grid-column: span 1;
  }
  .row-l-1 {
    grid-row: span 1;
  }
  .col-l-2 {
    grid-column: span 2;
  }
  .row-l-2 {
    grid-row: span 2;
  }
  .col-l-3 {
    grid-column: span 3;
  }
  .row-l-3 {
    grid-row: span 3;
  }
  .col-l-4 {
    grid-column: span 4;
  }
  .row-l-4 {
    grid-row: span 4;
  }
  .col-l-5 {
    grid-column: span 5;
  }
  .row-l-5 {
    grid-row: span 5;
  }
  .col-l-6 {
    grid-column: span 6;
  }
  .row-l-6 {
    grid-row: span 6;
  }
  .col-l-7 {
    grid-column: span 7;
  }
  .row-l-7 {
    grid-row: span 7;
  }
  .col-l-8 {
    grid-column: span 8;
  }
  .row-l-8 {
    grid-row: span 8;
  }
  .col-l-9 {
    grid-column: span 9;
  }
  .row-l-9 {
    grid-row: span 9;
  }
  .col-l-10 {
    grid-column: span 10;
  }
  .row-l-10 {
    grid-row: span 10;
  }
  .col-l-11 {
    grid-column: span 11;
  }
  .row-l-11 {
    grid-row: span 11;
  }
  .col-l-12 {
    grid-column: span 12;
  }
  .row-l-12 {
    grid-row: span 12;
  }
}
@media screen and (min-width: 1200px) {
  .container-grid {
    width: 100%;
    max-width: 75%;
    margin: auto;
  }
  .col-xl-1 {
    grid-column: span 1;
  }
  .row-xl-1 {
    grid-row: span 1;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .row-xl-2 {
    grid-row: span 2;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .row-xl-3 {
    grid-row: span 3;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .row-xl-4 {
    grid-row: span 4;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .row-xl-5 {
    grid-row: span 5;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .row-xl-6 {
    grid-row: span 6;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .row-xl-7 {
    grid-row: span 7;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .row-xl-8 {
    grid-row: span 8;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .row-xl-9 {
    grid-row: span 9;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .row-xl-10 {
    grid-row: span 10;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .row-xl-11 {
    grid-row: span 11;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
  .row-xl-12 {
    grid-row: span 12;
  }
}
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

.a-center {
  align-items: center;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-lowercase {
  text-transform: lowercase;
}

.txt-capitalize {
  text-transform: capitalize;
}

.float-left {
  float: left;
  margin: 1rem 2rem 0.5rem 0;
}

.float-right {
  float: right;
  margin: 1rem 0 0.5rem 2rem;
}

.float-none {
  float: none;
}

.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inlineBlock {
  display: inline-block;
}
.d-listItem {
  display: list-item;
}
.d-none {
  display: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-just-c {
  justify-content: center;
}

.flex-just-end {
  justify-content: flex-end;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-noWrap {
  display: flex;
  flex-wrap: nowrap;
}

/*
  ./src/scss/framework/modules/_visibility.scss
  Module des objets visible*/
@media screen and (min-width: 0) {
  .xs-hide {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .s-hide {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .m-hide {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .l-hide {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .xl-hide {
    display: none;
  }
}
@media screen and (max-width: 0) {
  .xs-visible {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .s-visible {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .m-visible {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .l-visible {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .xl-visible {
    display: none;
  }
}
/*! SASS #layout - NAVIGATION */
.navigation {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  gap: 0.5rem;
  background: grey;
  margin: 0;
  border: none;
}
.navigation a {
  border: 1px solid #fff;
  color: white;
  padding: 1rem;
  margin: 0.4rem;
  text-decoration: none;
  transition: all 1s;
}
.navigation a:hover {
  color: #046CAB;
  background-size: 500px;
  background-position: 250px;
  border-radius: 2rem;
}

.navigation .logo {
  -webkit-margin-end: auto !important;
          margin-inline-end: auto !important;
  order: -1;
}

.navigation .n3 {
  order: -1;
}

.menu-burger ul {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 25px;
  /*
  gap: 100px;
  justify-content: center;
  */
  justify-content: space-evenly;
}

.menu-slider {
  color: #f6f6f6;
  z-index: 1;
  font-size: 0.8em;
  position: fixed;
  top: 1rem;
  left: 5%;
}

@media screen and (min-width: 576px) {
  .menu-slider {
    left: 5%;
  }
}
#trigger {
  cursor: pointer;
}

#triggered {
  height: 100vh;
  width: 30%;
  z-index: 1;
  text-align: left;
  background: #D0D0D0;
  transition: all 0.9s ease-in-out;
  position: fixed;
  top: 0;
  right: -50%;
}

#triggered.visible {
  right: 0;
  width: 100%;
}

#triggered .triggered-link {
  padding: 0;
  list-style: none;
}

#triggered .triggered-link li:not(:first-child) {
  border: none;
  border-bottom: 2px solid black;
  margin: 0 1em;
}

#triggered .triggered-link li:last-child {
  border-bottom: 0;
}

#triggered .triggered-link a {
  text-transform: uppercase;
  color: #212931;
  padding: 2.5rem 0;
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
}

#triggered .triggered-link a:hover {
  /*color: #D2E0D3;*/
}

#triggered .triggered-icon {
  margin: 1rem;
  padding: 0 1rem;
  list-style: none;
  display: flex;
}

#triggered .triggered-icon li {
  padding-right: 0.5em;
}

#triggered .triggered-icon .icon {
  color: #212931;
  height: 30px;
  width: 30px;
  font-size: 0.9em;
}

#triggered .triggered-icon .icon:hover {
  /*color: #D2E0D3;*/
}

#close {
  cursor: pointer;
  /*color: #D2E0D3;*/
  margin: 1rem 0;
  padding-right: 1rem;
  font-size: 1.2rem;
  display: block;
}

#close:hover {
  /*color: #D2E0D3;*/
  color: white;
}

.fas.fa-bars {
  color: black;
}

.wrapper-form {
  width: 400px;
  padding: 48px 48px 48px 48px;
  background-color: #f2efee;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  background: linear-gradient(to right bottom, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper-form fieldset {
  border: none;
}

.wrapper-form input {
  order: 1;
  margin-block: 0.3rem;
}
.wrapper-form input:not(:-moz-placeholder-shown):invalid ~ .form__requirements {
  color: red;
}
.wrapper-form input:not(:placeholder-shown):invalid ~ .form__requirements {
  color: red;
}
.wrapper-form input:not(:-moz-placeholder-shown):not(:focus):invalid ~ label {
  color: red;
}
.wrapper-form input:not(:placeholder-shown):not(:focus):invalid ~ label {
  color: red;
}
.wrapper-form input:not(:-moz-placeholder-shown):not(:focus):invalid ~ label::after {
  content: "Erreur dans le champ !";
  margin: 1rem;
}
.wrapper-form input:not(:placeholder-shown):not(:focus):invalid ~ label::after {
  content: "Erreur dans le champ !";
  margin: 1rem;
}
.wrapper-form input:not(:focus):invalid {
  color: grey;
}
.wrapper-form input:valid {
  color: green;
}
.wrapper-form input:invalid {
  color: red;
}
.wrapper-form input:focus::-moz-placeholder {
  color: transparent;
}
.wrapper-form input:focus::placeholder {
  color: transparent;
}
.wrapper-form input:focus ~ label {
  color: #07c;
}

::-moz-placeholder {
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

::placeholder {
  transition: all 0.4s;
}

div.grid {
  display: grid;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 16px;
}
.form__input {
  width: 100%;
  padding: 1.2rem;
  border-radius: 9px;
  border: none;
}
.form__input:invalid {
  color: red;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
}
.form__label {
  display: block;
  margin-bottom: 8px;
}
.form__requirements {
  order: 3;
  display: grid;
  justify-content: center;
  transition: font-size 0.3s, color 0.3s 0.3S;
  color: rgba(0, 0, 0, 0);
}
.form__button {
  background-color: #f48982;
  color: #fdf2e9;
  align-self: end;
  padding: 8px;
}
.form__button, .form__button:link, .form__button:visited {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  margin: auto;
}
.form__button {
  outline: 1px solid #f48982;
}
.form__button:hover {
  background-color: #fdf2e9;
  color: #f48982;
}

/*
div.grid:has(sinput:invalid)::before {
  content: '✖ ';
  color: red;
}

div.grid:has(input:valid)::before {
  content: '✓ ';
  color: green;
}

*/
div.grid:has(input:not(:-moz-placeholder-shown):not(:focus):invalid) + .form__requirements {
  color: red;
}
div.grid:has(input:not(:placeholder-shown):not(:focus):invalid) + .form__requirements {
  color: red;
}

.wrapper-form-custom {
  width: 25rem;
}

.wrapper-form-custom div.wrapper-form-custom-div {
  padding: 0.5em 0;
}

.custom_input,
.custom_select,
.custom-textarea {
  width: 100%;
  display: block;
  padding: 0.5rem;
  color: inherit;
  width: 100%;
  display: block;
}

.form-radio-checkbox .input-helper {
  position: relative;
  display: inline-block;
}
.form-radio-checkbox .input-helper:before {
  content: "";
  display: block;
  position: absolute;
}

.form-radio-checkbox .input-helper--radio {
  padding: 0px 20px;
}
.form-radio-checkbox .input-helper--radio:before {
  top: 5px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #222;
}

.form-radio-checkbox .input-helper--checkbox {
  padding: 0 20px;
}
.form-radio-checkbox .input-helper--checkbox:before {
  top: 2.5px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #222;
}

.form-radio-checkbox input[type=radio] {
  display: none;
}
.form-radio-checkbox input[type=radio]:checked + label:before {
  background: #222;
}

.form-radio-checkbox input[type=checkbox] {
  display: none;
}
.form-radio-checkbox input[type=checkbox]:checked + label:before {
  background: #222;
}

.custom-select-div {
  position: relative;
}

.custom-select-div select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: grey;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: grey transparent transparent transparent;
}

.dropdown-toggle .select-selected::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.dropdown-toggle .select-selected.select-arrow-active:after {
  border-color: transparent transparent grey transparent;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: grey;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.container-custom-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.container-custom-checkbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-custom-checkbox input:checked ~ .checkmark {
  background-color: grey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-custom-checkbox .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.container-custom-radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-custom-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-custom-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-custom-radio input:checked ~ .checkmark {
  background-color: grey;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-custom-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-custom-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-custom-radio .checkmark:after {
  top: 3.5px;
  left: 3.5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

input.switchcheckbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1rem;
  position: relative;
  background-color: #ccc;
  transition: background-color 0.2s ease;
}
input.switchcheckbox:hover {
  background-color: grey;
}
input.switchcheckbox:hover::before {
  color: #fff;
}

input.switchcheckbox::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 0.25rem;
  z-index: 9;
  will-change: transform;
  transition: transform 0.2s ease;
}

input.switchcheckbox::before {
  display: block;
  position: absolute;
  margin: 0.25rem 0.5rem;
  right: 0;
}

input.switchcheckbox:checked {
  background-color: #004F8B;
}
input.switchcheckbox:checked:hover {
  background-color: grey;
}
input.switchcheckbox:checked::before {
  content: "✔";
  left: 0;
  color: #fff;
}
input.switchcheckbox:checked::after {
  transform: translateX(1.5rem);
}

.form-custom-switch {
  align-items: center;
  display: flex;
}

.search__wrapper {
  position: relative;
}
.search__wrapper .search__input {
  padding: 0.5rem;
  color: inherit;
  width: 100%;
  display: block;
  border: 1px solid #bdcadb;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(95, 113, 126, 0.19);
  font-size: 0.8rem;
  position: relative;
}

.search__input.border {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #575756;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input.border::-moz-placeholder {
  color: color(#575756 a(0.8));
  letter-spacing: 1.5px;
}
.search__input.border::placeholder {
  color: color(#575756 a(0.8));
  letter-spacing: 1.5px;
}
.search__input.border:hover, .search__input.border:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

/*! SASS #components - BUTTONS  */
.btn,
button {
  color: #212931;
  text-align: center;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  background: #f6f6f6;
  border: 3px solid #212931;
  border-radius: 0;
  margin: 1rem 1rem 1rem 0;
  padding: 0.7rem 1.5rem;
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.2;
  display: inline-block;
}

.border-radius {
  border-radius: 50px;
}

.btn:hover,
button:hover {
  color: grey;
  border-color: grey;
}

.btn.large,
button.large {
  padding: 1rem 2.4rem;
  font-size: 1.1em;
}

.btn.small,
button.small {
  padding: 0.5rem 1.2em;
  font-size: 0.8em;
}

.btn.fit,
button.fit {
  width: 50%;
  text-align: center;
}

.btn.opacity,
button.opacity {
  opacity: 0.4;
}

.btn.primary,
button.primary {
  color: #f6f6f6;
  background: #212931;
}

.btn.primary:hover,
button.primary:hover {
  color: #f6f6f6;
  background: grey;
  border: 3px solid grey;
}

.btn-logo,
.button-logo {
  color: #f6f6f6;
  border: 5px solid #f6f6f6;
  padding: 0.3em 0.9em;
}

.btn-logo:hover,
.button-logo:hover {
  color: #f6f6f6;
  border-color: #f6f6f6;
}

.btn-icone i {
  padding: 0 0.5rem 0 0;
}

.btn2 {
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  background: #eee;
  color: #234;
  padding: 1rem 2rem;
  opacity: 1;
  border-radius: 5rem;
}
.btn2:hover {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.2);
}
.btn2--primary {
  border: none;
  background: white;
  color: #234;
  padding: 1rem 2rem;
  opacity: 1;
  border-radius: 5rem;
}
.btn2--default:hover {
  border: 1px solid grey;
  background: #eee;
  color: grey;
  padding: 1rem 2rem;
  opacity: 1;
  border-radius: 5rem;
}
.btn2--disable {
  background: #eee;
  color: #234;
  padding: 1rem 2rem;
  opacity: 0.3;
  border-radius: 5rem;
}
.btn2--active {
  border: none;
  background: grey;
  color: black;
  padding: 1rem 2rem;
  opacity: 1;
  border-radius: 5rem;
}
.btn2--active:hover {
  border: none;
  background: grey;
  color: white;
  padding: 1rem 2rem;
  opacity: 1;
  border-radius: 5rem;
}
.btn2--arrow {
  border: 1px solid grey;
  box-shadow: none;
  background: white;
  color: black;
  padding: 1rem 1rem;
  opacity: 1;
  border-radius: 5rem;
}

/*! SASS #components - ALERT */
.alert__box--alert, .alert__box--success, .alert__box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 30rem;
  padding: 1rem;
  border: 1px solid transparent;
  margin: 1rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
}

.alert__box {
  background-color: #aaa;
}
.alert__box:hover {
  border-color: #aaa;
  background: #fff;
  color: #aaa;
}
.alert__box:after {
  right: 0.5rem;
  color: #aaa;
  content: "hello!";
}
.alert__box--success {
  background-color: green;
}
.alert__box--success:hover {
  border-color: green;
  background: #fff;
  color: green;
}
.alert__box--success:after {
  right: 0.5rem;
  color: green;
  content: "Success!";
}
.alert__box--alert {
  background-color: red;
}
.alert__box--alert:hover {
  border-color: red;
  background: #fff;
  color: red;
}
.alert__box--alert:after {
  right: 0.5rem;
  color: red;
  content: "Alert!";
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: solid 1px #ccc;
}

th {
  background-color: #000;
  color: #FFF;
}

tr:nth-child(odd) {
  background-color: #eee;
}

@media only screen and (max-width: 700px) {
  .table-responsive table,
  .table-responsive thead,
  .table-responsive tbody,
  .table-responsive tr,
  .table-responsive th,
  .table-responsive td {
    display: block;
  }
  .table-responsive thead {
    display: none;
  }
  .table-responsive td {
    padding-left: 150px;
    position: relative;
    margin-top: -1px;
    background: #FFF;
  }
  .table-responsive td:nth-child(odd) {
    background-color: #eee;
  }
  .table-responsive td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    bottom: 0;
    background-color: #000;
    color: #FFF;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .table-responsive tr {
    margin-bottom: 1rem;
  }
  .table-responsive th + td {
    padding-left: 10px;
  }
  .table-responsive th + td::before {
    display: none;
  }
}
/*! SASS #components - SPEAKER */
:root {
  --pd-card: 1.25rem;
  --font: "maven pro", helvetica, sans-serif;
  --bullet: 2rem;
}

.card_flex_div {
  display: flex;
}

.card {
  max-width: 15rem;
  border: 1px solid #888;
  padding: var(--pd-card);
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem;
  font-family: var(--font);
}
.card__pict {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  /*
  &::before {
    grid-area: 1/1/-1/-1;
    z-index: 1;
    display: grid;
    background: #000;
    width: calc(var(--bullet) * .1);
    height: calc(var(--bullet) * .5);
    content: "r";
  }
  */
}
.card__pict::after {
  grid-area: 1/1/-1/-1;
  display: grid;
  border-radius: var(--bullet);
  width: var(--bullet);
  height: var(--bullet);
  border: 2px solid #3d3c3c;
  content: "i";
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__img {
  width: 100%;
  grid-area: 1/1/-1/-1;
}
.card__orator, .card__name {
  font-weight: normal;
}
.card__orator {
  font: 200 1.6rem/1 var(--font);
  display: grid;
  color: rgba(0, 0, 0, 0.6666666667);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card__location {
  margin: 0;
}
.card__topic, .card__description, .card__time, .card__room, .card__link {
  font-size: 0;
}

.cardoff {
  max-width: 15rem;
  height: 21.5rem;
  border: 1px solid #888;
  padding: calc(var(--pd-card) * 1.5);
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem;
  font-family: var(--font);
  background: #333;
  color: #fff;
  display: grid;
  align-content: space-between;
}
.cardoff__pict {
  display: none;
}
.cardoff__location {
  font-size: 0;
}
.cardoff__topic, .cardoff__description {
  margin: 0;
}
.cardoff footer {
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
}
.cardoff__link {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  color: grey;
}
.cardoff__room {
  -webkit-padding-start: 0.8rem;
          padding-inline-start: 0.8rem;
  -webkit-margin-start: 0.8rem;
          margin-inline-start: 0.8rem;
  -webkit-border-start: 3px solid grey;
          border-inline-start: 3px solid grey;
}
.cardoff__orator {
  margin: 0;
}

.all_speakers {
  padding: 1rem;
  display: grid;
  grid-row-gap: 0.2rem;
}
@media (min-width: 27rem) {
  .all_speakers {
    margin: 2rem;
    grid-gap: 1.5rem;
    max-width: 64rem;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

.speaker {
  --primary: #E44154;
  --primaryA: #E44154DD;
  --primaryB: #E4415488;
  --primaryC: #E4415411;
  --w-circle: 50%;
  font-family: "maven pro", serif;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.8666666667);
  border-radius: 0.5rem;
}
@media (min-width: 27rem) {
  .speaker {
    box-shadow: none;
    background: transparent;
    min-height: 16rem;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
    align-content: space-between;
  }
  .speaker:not(.speaker-active) .speaker__photo {
    display: grid;
    grid-template: 1fr/1fr;
    justify-items: center;
    align-items: center;
  }
  .speaker:not(.speaker-active) .speaker__photo::before {
    transition: all 0.3s;
    content: "more info";
    display: grid;
    grid-template-columns: 3rem;
    text-align: center;
    color: #fff;
    align-content: center;
    justify-content: center;
    width: var(--w-circle);
    height: var(--w-circle);
    border-radius: var(--w-circle);
    box-shadow: 0 0 0 1rem var(--primaryB);
    background: var(--primaryA);
    z-index: 1;
    opacity: 0;
  }
  .speaker:not(.speaker-active) .speaker__photo img, .speaker:not(.speaker-active) .speaker__photo::before {
    grid-area: 1/1/-1/-1;
  }
  .speaker:not(.speaker-active):hover .speaker__photo::before {
    opacity: 1;
  }
}
.speaker h2,
.speaker p {
  margin: 0;
}
.speaker img {
  width: 100%;
}
.speaker__header {
  display: grid;
  grid-template-columns: 1fr 5rem;
}
@media (min-width: 27rem) {
  .speaker__header {
    grid-template-columns: 1fr;
  }
}
.speaker__name {
  font-family: "museo", serif;
  font-size: 1.2rem;
  font-weight: 400;
  display: grid;
  align-content: center;
  line-height: 0.95;
}
.speaker__name strong {
  font-weight: inherit;
  opacity: 0.75;
}
.speaker__photo {
  align-self: start;
  overflow: hidden;
  border-radius: 100rem;
  grid-column: 2/-1;
  grid-row: 1/3;
  display: grid;
}
@media (min-width: 27rem) {
  .speaker__photo {
    grid-column: 1/-1;
    border-radius: 3px;
    margin-bottom: 0.8rem;
  }
}
.speaker__photo img {
  -o-object-fit: cover;
     object-fit: cover;
}
.speaker__main {
  transition: all 1s;
  color: rgba(0, 0, 0, 0.8666666667);
  display: none;
  grid-column-gap: 0.5rem;
}
.speaker__main_title {
  font: 500 1.2rem "maven pro", sans-serif;
  grid-column: 1/-1;
}
.speaker__main_txt {
  grid-column: 1/-1;
  font-size: 0.8rem;
  line-height: 1.5;
}
.speaker__location {
  color: var(--primary);
  transition: opacity 0.3s;
  font-family: "league spartan variable", sans-serif;
  font-variation-settings: "wght" 400;
}
.speaker__footer {
  align-self: center;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.speaker__footer a {
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  flex-basis: calc(50vw - 3rem);
}
.speaker__footer time {
  display: inline-flex;
}
.speaker__room {
  display: inline-flex;
  align-items: center;
}
.speaker__room::before {
  content: "";
  padding-left: 0.3rem;
  margin-left: 0.3rem;
  border-left: 1.5px solid rgba(0, 0, 0, 0.5333333333);
  height: 0.7rem;
}
.speaker__link {
  border: 2px solid var(--primaryB);
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  font-size: 0.8rem;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary);
  font-family: "league spartan variable", sans-serif;
  font-variation-settings: "wght" 500;
  transition: all 0.5s;
}
.speaker__link:hover {
  border: 2px solid var(--primaryA);
  background: var(--primary);
  color: #fff;
}

.speaker:not(.speaker-active) .speaker__name,
.speaker:not(.speaker-active) .speaker__location {
  padding-left: 0.8rem;
}

.speaker-active {
  background: #F1EEE9;
  display: grid;
  padding: 1.5rem;
  grid-template-rows: auto 1fr;
  padding-bottom: 1.5rem;
  border-radius: 0.4rem;
}
@media (min-width: 27rem) {
  .speaker-active {
    border-radius: 0;
    box-shadow: none;
    padding: 1rem;
  }
}
.speaker-active .speaker {
  background: #000;
  border: 1px solid #888;
}
.speaker-active .speaker__room {
  margin-right: 1rem;
}
.speaker-active .speaker__name {
  color: var(--primary);
  margin-bottom: 1rem;
}
.speaker-active .speaker__name strong {
  font-weight: inherit;
}
.speaker-active .speaker__location {
  display: none;
}
.speaker-active .speaker__main {
  align-content: start;
}
@media (min-width: 27rem) {
  .speaker-active .speaker__main {
    min-height: 10rem;
    grid-template: auto auto 1fr auto/1fr 1fr;
    align-self: end;
  }
}
@media (min-width: 27rem) {
  .speaker-active .speaker__photo {
    display: none;
  }
}
@media (min-width: 27rem) {
  .speaker-active .speaker__footer {
    order: 3;
  }
}
@media (min-width: 27rem) {
  .speaker-active .speaker__link {
    grid-column: 1/-1;
  }
}

.speaker-active .speaker__main {
  display: grid;
}
.speaker-active .speaker__name {
  display: flex;
  align-items: center;
  grid-row: span 2;
}
.speaker-active .speaker__name strong {
  -webkit-margin-start: 0.3rem;
          margin-inline-start: 0.3rem;
}
.speaker-active .speaker__footer {
  display: flex;
}

.navigation-heros {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid white;
  gap: 0.5rem;
  background: rgb(79, 59, 126);
  margin: 0;
  border: none;
}
.navigation-heros a {
  color: white;
  padding: 0.5rem;
  margin: 0.4rem;
  text-decoration: none;
  transition: all 1s;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.navigation-heros a:hover {
  border: 1px solid white;
}

.navigation-heros .logo {
  -webkit-margin-end: auto !important;
          margin-inline-end: auto !important;
  order: -1;
}

.navigation-heros .logo img {
  width: 150px;
}

.heros {
  background: linear-gradient(to right bottom, #f0a00d, #f48982, red);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 24rem;
  grid-template-columns: 0.5fr 2.5fr 4fr;
  justify-content: center;
}
.heros__title {
  margin: 1rem 0rem 0 1rem;
  grid-column: 2/-1;
  grid-row: 1/2;
  font-size: 5rem;
  z-index: 1;
  display: grid;
  color: white;
}
.heros__title span {
  text-shadow: 2px 6px 2px rgba(128, 128, 128, 0.3);
}
.heros__title strong {
  font-size: 0;
}
.heros__description {
  color: black;
  font-size: 1.25rem;
  font-weight: 500;
  width: 22rem;
  background: white;
  height: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  display: grid;
  grid-column: 1;
  grid-row: 2/24;
}
.heros__img {
  grid-row: 1/2;
  grid-column: 2/3;
  width: 450px;
  justify-self: start;
  align-self: end;
}

.heros__bottom {
  background: rgb(79, 59, 126);
  display: flex;
  width: 96%;
  margin: -45px auto;
  height: 10rem;
  position: relative;
  padding: 3rem 5rem;
  color: white;
  position: inherit;
}
.heros__bottom h2 {
  font-size: inherit;
  margin: 1em;
}

/* with js */
/*:focus{box-shadow:0 0 5px #a0c4ff}*/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  animation: fadeIn 0.3s both;
  z-index: 1;
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: white;
  animation: slideFromTop 0.3s both;
}

.modal[aria-hidden=true] {
  animation-name: fadeOut;
}

.modal[aria-hidden=true] .modal-wrapper {
  animation-name: slideToBottom;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slideFromTop {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideToBottom {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}
.nav-pills {
  display: flex;
  justify-content: center;
}

.nav-pills a {
  border: solid 1px #000000;
  padding: 8px 16px;
  text-decoration: none;
  background: lightgray;
  border-left: 1px solid #000000;
  color: #151E16;
}

.nav-pills a[aria-selected=true] {
  background: grey;
  border-left: 1px solid #000000;
  color: #FEF0E7;
}

/*.nav-pills a:focus */
.nav-pills a:hover {
  background: darkgray;
  border-left: 1px solid #000000;
  color: #151E16;
}

/**
Animations
**/
[role=tabpanel] {
  overflow: hidden;
  transition: 0.3s;
}

[role=tabpanel][hidden=hidden] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  transform: translateY(10px);
  opacity: 0;
}

.tippy {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 400px;
  background: #222;
  padding: 3px 10px;
  font-size: 0.815em;
  color: #FFF;
  border-radius: 100px 100px 3px 3px;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: 50% 100%;
  transition: opacity 0.3s, transform 0.3s, border-radius 0.3s;
  z-index: 2;
}

.tippy::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #222;
}

.tippy.visible {
  opacity: 1;
  border-radius: 3px;
  transform: rotateX(0);
}

.card_tooltip {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card_tooltip .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card_tooltip .card-title {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
  font-size: 1.5rem;
}

.card_tooltip p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card_tooltip .btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.card_tooltip .btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

form.exemple fieldset {
  border: 0;
  padding: 0;
}

form.exemple div.grid {
  display: grid;
}

form.exemple select {
  border: 2px solid #cfcfcf;
  margin-bottom: 2em;
  padding: 0.8em;
  font-family: Merriweather, Georgia, serif;
  order: 1;
}

form.exemple textarea {
  width: 100%;
  height: 15rem;
  color: #212931;
  border: 2px solid #cfcfcf;
  padding: 0.7rem;
}

form.exemple textarea:focus-visible {
  border: 2px solid grey;
  outline: none;
}

form.exemple textarea:focus-visible::-moz-placeholder {
  color: #cfcfcf;
}

form.exemple textarea:focus-visible::placeholder {
  color: #cfcfcf;
}

form.exemple option[selected=selected] {
  color: #212931;
  background: #cfcfcf;
  padding: 1em;
  font-size: 1em;
}

form.exemple option[disabled] {
  color: #212931;
  background: #cfcfcf;
  padding: 1em;
  font-size: 1em;
}

form.exemple input {
  border: 2px solid #cfcfcf;
  padding: 0.5em;
  font-size: 1em;
  order: 1;
  width: 100%;
}

form.exemple input[type=radio],
form.exemple input[type=checkbox] {
  display: none;
}

form.exemple input:focus-visible {
  border: 2px solid grey;
  outline: none;
}

form.exemple input:focus-visible::-moz-placeholder {
  color: #cfcfcf;
}

form.exemple input:focus-visible::placeholder {
  color: #cfcfcf;
}

form.exemple select:focus-visible::-moz-placeholder {
  color: #cfcfcf;
}

form.exemple select:focus-visible::placeholder {
  color: #cfcfcf;
}

form.exemple .radio-label:before {
  border-radius: 50%;
}

form.exemple .checkbox-label:before,
form.exemple .radio-label:before {
  content: "";
  border: 2px solid #eae6e6;
  margin-right: 1em;
  padding: 0.3em 0.9em;
}

form.exemple .checkbox-input:checked + .checkbox-label:before,
form.exemple .checkbox-input:checked + .radio-label:before,
form.exemple .radio-input:checked + .checkbox-label:before,
form.exemple .radio-input:checked + .radio-label:before {
  color: #fff;
  content: "\f00c";
  background: grey;
  padding: 0.4em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/*! SASS #themes - LIGHT */
.style-guide {
  margin-bottom: 50px;
  background-color: #F8F8F8;
}

/**STYLE DU HEADER**/
.style-guide .style-guide-header {
  border-bottom: 5px double #E2E1E1;
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between;
  padding-block: 2em 0;
}

.style-guide .style-guide-header h1 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

/**MENU HAMBURGER & CROIX**/
.style-guide #burger {
  width: 45px;
  height: 30px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.style-guide .menu {
  display: none;
}

.style-guide #burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #2e2d2c;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.style-guide #burger span:nth-child(1) {
  top: 0px;
}

.style-guide #burger span:nth-child(2),
#burger span:nth-child(3) {
  top: 13px;
}

.style-guide #burger span:nth-child(4) {
  top: 27px;
}

.style-guide #burger.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.style-guide #burger.open span:nth-child(2) {
  transform: rotate(45deg);
}

.style-guide #burger.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.style-guide #burger.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

/*Toggle Dark Mode
.theme-switch-wrapper{

} 

*/
.style-guide .theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  text-align: right;
}

.style-guide .theme-switch input {
  display: none;
}

.style-guide .slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.style-guide .slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.style-guide input:checked + .slider {
  background-color: #191b1a;
}

.style-guide input:checked + .slider:before {
  transform: translateX(26px);
}

.style-guide .slider.round {
  border-radius: 34px;
}

.style-guide .slider.round:before {
  border-radius: 50%;
}

.modules .divmodules {
  display: flex;
}

.divmodules {
  display: flex;
  height: auto;
  margin-top: 50px;
}

/**MENU DES MODULES **/
.style-guide .menu {
  background: #F8F8F8;
  padding: 25px;
  max-width: 250px;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
}

.wrapper .item {
  color: rgb(22, 22, 22);
  display: flex;
  margin-bottom: 8px;
  padding: 12px 17px;
  background: #fbfcfd;
  border-radius: 3px;
  align-items: center;
  justify-content: flex-start;
}

.wrapper .item:last-child {
  margin-bottom: 0px;
}

.wrapper .item .text {
  font-size: 18px;
  font-weight: 400;
}

.wrapper .item i {
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

.wrapper .item input {
  margin: 10px;
  cursor: pointer;
}

.style-guide .menu p {
  margin-bottom: 10px;
}

.style-guide .menu h2 {
  font-size: large;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}

/** MODULES - DRAG AND DROP **/
.modules {
  background: #F8F8F8;
  padding: 25px;
  width: 100%;
  border-radius: 3px;
}

.modules .divmodules {
  color: rgb(44, 43, 43);
  display: flex;
  margin-bottom: 8px;
  padding: 12px 17px;
  border-radius: 3px;
  justify-content: space-between;
  cursor: pointer;
}

.modules .divmodules:hover {
  border: 1px solid #ccc;
}

.modules .divmodules:last-child {
  margin-bottom: 0px;
}

/** Modules organisation interne **/
.bordure {
  border: 2px solid #E2E1E1;
  width: 6px;
  height: auto;
  border-radius: 85px;
  background-color: #F1F1F1;
}

.title {
  flex: 20;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 200;
}

.contenu {
  flex: 80;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  display: inline-block;
}

/*LES CARDS DES COULEURS*/
.color {
  background-color: #3EC1C9;
  width: 89px;
  height: 52px;
  border-radius: 5px 5px 0 0;
}

.carddiv {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 89px;
  border-radius: 5px;
}

.carddiv:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  padding: 10px 0;
}

.carddiv p {
  font-size: small;
}

.cardcolor {
  width: 90px;
  text-align: center;
  float: left;
  margin-right: 30px;
}

.cardcolor p {
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**DRAG AND DROP IMAGE LOGO**/
.logocontainer {
  padding-right: 40%;
}

.box {
  position: relative;
  background: #F8F8F8;
  width: 100%;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 10px;
}

.box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 150px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 50px;
  font-size: 16px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 150px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

.preview-zone {
  text-align: center;
}

.preview-zone .box {
  box-shadow: none;
  border-radius: 0;
  margin-bottom: 0;
}

/**BOUTONS DE DL**/
#dl {
  align-items: center;
  padding-top: 50px;
  text-align: center;
}

#dl h3 {
  font-weight: 400;
}

#downloadbtn {
  padding: 10px;
  margin-top: 10px;
}

/*! SASS #themes - DARK */
.dark body {
  background-color: #262D3D;
}

.dark .style-guide-header {
  border-bottom: 5px double #191b1a;
  background-color: #262D3D;
}

.dark {
  background: #262D3D;
  color: #E9E9E9;
}

.dark #burger span {
  background: #f8f8f8;
}

.dark .menu {
  background: #302f2f;
}

.dark .wrapper .item {
  background: #404041;
  color: white;
}

.dark .modules {
  background: #262D3D;
}

.dark .divmodules {
  background: #262D3D;
  color: #E2E1E1;
}

.dark .title a {
  color: #E2E1E1;
  text-decoration: none;
}

.dark .title a:hover {
  color: #E2E1E1;
  font-weight: bold;
}

.dark .bordure {
  border: 2px solid #191b1a;
  background-color: #262D3D;
}

.dark .box {
  background: #404041;
}

.dark .box-header {
  border: none;
  color: #fff;
}/*# sourceMappingURL=main.css.map */